language: python
python:
    - "2.7"

install:
    - pip install -r requirements.txt
    - pip install -r test_requirements.txt
    - pip install 3rdParty/qualipy-1.0.790.zip
    - find /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages
script:
    nosetests
